.App{
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    padding-top: 4rem;
    min-height: 100vh;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #8a42f5;
    height: 56px;
}

.navbar_logo a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.navbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.navbar_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_items li{
    padding: 0 0.5rem;
}

.navbar_items a{
    color: white;
    text-decoration: none;
}

.navbar_items a:hover,
.navbar_items a:active {
    color: #fca503;
}

.spacer{
    flex:1;
}
