td:last-child {
    padding-left: 10px;
}

input[type="submit"] {
    margin-top: 10px;
}

form {
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    background: white;
}

#message {
    color : red;
}
